# engine-strict=true
# electron_mirror=https://npmmirror.com/mirrors/electron/
hoist=true
public-hoist-pattern[]=* 
ignore-workspace-root-check=false
# Ignore platform checks for oxc WASM bindings
# Or more specific:
ignore-platform-for=@oxc-parser/binding-wasm32-wasi @oxc-transform/binding-wasm32-wasi